<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="div">
    <div class="header">HEADER</div>
    <div class="path">PATH</div>
    <div class="docktop">DOCKTOP</div>
    <div class="section">
        <div class="dockleft">DOCKLEFT</div>
        <div class="content-section">
            <div class="error">ERROR</div>
            <div class="content">CONTENT</div>
        </div>
        <div class="dockright">DOCKRIGHT</div>
    </div>
    <div class="dockbottom">DOCBOTTOM</div>
    <div class="footer">FOOTER</div>
</div>
</body>
</html>