.total {
    display: flex;
}
.info {
    width: 35%;
    height: auto;
    background-color:dimgray;
}
.image {
    width: 35%;
    height: 400px;
}
.img {
    margin-top: 20px;
    width: 350px;
    height: 300px;
    margin-left: 40px;
}
h1 {
    width: 500px;
    margin-left: 40px;
    color:coral;
}
.local {
    width: 500px;
    margin-left: 40px;
    font-size: medium;
    font-style: oblique;
    font-weight: lighter;
    color:darksalmon;
    margin-top: -15px;
}
.infomation {
    margin-top: 30px;
    margin-left: 40px;
    color: coral;
    font-size: 20px;
    width: 300px;
    height: 200px;
}
.hr1 {
    border: 0.5px solid coral;
    margin-left: 210px;
    width: 150px;
    margin-top: -10px;
}
.icon {
    margin-top: 27px;
}
i {
    font-size: 70px;
    color: coral;
}
.tele {
    margin: 0px;
    margin-left: 40px;
    margin-top: -18px;
    color:darkgray;
    font-style: oblique;
    font-size: medium;
}
.mail {
    margin: 0px;
    margin-left: 40px;
    color: darkgray;
    font-style: oblique;
    font-size: medium;
    margin-top: -18px;
}
.face {
    margin: 0px;
    margin-left: 40px;
    color: darkgray;
    font-style: oblique;
    font-size: medium;
    margin-top: -18px;
}
.add {
    margin: 0px;
    margin-top: -24px;
    margin-left: 40px;
    color: darkgray;
    font-style: oblique;
    font-size: medium;
    margin-top: -21px;
}
.skills {
    margin-top: 30px;
    margin-left: 40px;
    color: coral;
    font-size: 20px;
    width: 300px;
    height: 100px;
}
.skills1 {
    margin-top: 25px;
    color: darkgray;
    font-style: oblique;
    font-size: medium;
}
.skills2 {
    margin-top: -34px;
    color: darkgray;
    font-style: oblique;
    font-size: medium;
}
.hr2 {
    border: 0.5px solid coral;
    margin-left: 137px;
    width: 220px;
    margin-top: -10px;
}
.hobby {
    margin-top: 30px;
    margin-left: 40px;
    color: coral;
    font-size: 20px;
    width: 300px;
    height: 50px;
}
.hr3 {
    border: 0.5px solid coral;
    margin-left: 99px;
    width: 255px;
    margin-top: -10px;
}
.hob {
    color: darkgray;
    font-style: oblique;
    font-size: medium;
}
.intro {
    margin-top: 30px;
    margin-left: 40px;
    color: coral;
    font-size: 20px;
    width: 300px;
    height: 100px;
}
.hr4 {
    border: 0.5px solid coral;
    margin-left: 183px;
    width: 170px;
    margin-top: -10px;

}
.more-info {
    margin-top: 0px;
    margin-left: 40px;
    color: coral;
    font-size: 20px;
    width: 300px;
    height: 50px;
}
.hr5 {
    border: 0.5px solid coral;
    margin-left: 177px;
    width: 173px;
    margin-top: -10px;

}
.job {
    width: 65%;
    height: auto;
    background-color: beige;
}
.target {
    margin-top: 19px;
    margin-left: 40px;
    color: coral;
    font-size: 20px;
    width: 100%;
    height: 50px;
}

.target hr {
    border: 0.5px solid coral;
    margin-left: 240px;
    width: 450px;
    margin-top: -10px;
}
.experience {
    margin-top: 19px;
    margin-left: 40px;
    color: coral;
    font-size: 20px;
    width: 100%;
    height: 200px;
}
.hr7 {
    border: 0.5px solid coral;
    margin-left: 243px;
    width: 450px;
    margin-top: -10px;
}
.expa {
    margin: 0px;
    margin-top: 27px;
    color: darkgray;
    font-style: oblique;
    font-size: medium;
}
.expb {
    margin: 0px;
    margin-top: -19px;
    margin-left: 550px;
    color: darkgray;
    font-style: oblique;
    font-size: medium;
}
.expc {
    margin: 0px;
    color: darkgray;
    font-style: oblique;
    font-size: medium;
}
.expd {
    margin: 0px;
    color: darkgray;
    font-style: oblique;
    font-size: medium;
}
.edu {
    margin-top: -36px;
    margin-left: 40px;
    color: coral;
    font-size: 20px;
    width: 100%;
    height: 200px;
}
.hr8 {
    border: 0.5px solid coral;
    margin-left: 98px;
    width: 598px;
    margin-top: -10px;
}
.awards {
    margin-top: -39px;
    margin-left: 40px;
    color: coral;
    font-size: 20px;
    width: 65%;
    height: 50px;
}
.hr9 {
    border: 0.5px solid coral;
    margin-left: 290px;
    width: 410px;
    margin-top: -10px;
}
.certifi {
    margin-top: 17px;
    margin-left: 40px;
    color: coral;
    font-size: 20px;
    width: 100%;
    height: 50px;
}
.hr10 {
    border: 0.5px solid coral;
    margin-left: 120px;
    width: 580px;
    margin-top: -10px;
}
.action {
    margin-top: 16px;
    margin-left: 40px;
    color: coral;
    font-size: 20px;
    width: 100%;
    height: 50px;
}
.hr11 {
    border: 0.5px solid coral;
    margin-left: 125px;
    width: 568px;
    margin-top: -10px;
}
.project {
    margin-top: 110px;
    margin-left: 40px;
    color: coral;
    font-size: 20px;
    width: 100%;
    height: 300px;
}
.hr12 {
    border: 0.5px solid coral;
    margin-left: 72px;
    width: 620px;
    margin-top: -10px;
}
.proa {
    margin-top: -2px;
    color: darkgray;
    font-style: normal;
    font-size: medium;
}
.prob {
    margin-top: -34px;
    margin-left: 90px;
    color: darkgray;
    font-style: oblique;
    font-size: medium;
}
.proc {
    margin-top: -16px;
    color: darkgray;
    font-style: normal;
    font-size: medium;
}
.prod {
    margin-left: 175px;
    margin-top: -34px;
    color: darkgray;
    font-style: oblique;
    font-size: medium;
}
.proe {
    margin-top: -21px;
    color: black;
    font-style: normal;
    font-size:large;
}
.prof {
    margin-top: -33px;
    color: darkgray;
    font-style: oblique;
    font-size: medium;
}