.wrapper {
    display: flex;
}

.register-form {
    background-color: beige;
    width: 50%;
    margin: auto;
    padding: 30px;
}

.title {
    margin: 0px;
    text-align: center;
    text-decoration: underline;
}

.field {
    padding-bottom: 20px;
    margin-right: 30px;
    display: flex;
}

.field-label {
    font-size: 20px;
    width: 40%;
    padding-left: 70px;
}

.field-input {
    width: 300px;
    height: 30px;
}

.wrapper-radio {
    margin-left: -2%;
}

.radio-input {
    width: 15px;
    height: 15px;
}

.label-gender {
    padding: 0;
}

.submit {
    margin-right: 50px;
}