div.form {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form_title {
  background-color: orangered;
  width: 500px;
  text-align: center;
}
.title {
  color: white;
  margin-top: -3px;
}
.abc {
  color: blue;
}
.xyz {
  color: orangered;
}
.center {
  margin-left: 65px;
  margin-top: -17px;
}
.ght {
  padding-left: 25px;
}
.info {
  margin-left: 70px;
}
.margin-left {
  margin-bottom: 10px;
}
.border {
  border: 20px solid aqua;
}
/* bai 6.2 */
.form_color {
  background-color: yellow;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  text-align: center;
}
.form_title {
  background-color: yellow;
  width: 300px;
  text-align: left;
}
.title {
  color: blue;
}
.div {
    margin-left: 10px;
    margin-right: auto;
    text-align: left;
}
/*bai 7*/
.font {
    font-weight: inherit;
}
.number1 {
    width: 200px;
}
.text_p {
    color: sienna;
    padding-left: 20px;
    margin: 0px;
    font-size: small;
}
.width {
  width: 20px;
}
.width2 {
  width: 50px;
}
.text_c {
  font-size: smaller;
  color: sienna;
  padding-left: 10px;
}
.width3 {
  width: 50%;
}
.border2 {
  border: 1px solid black;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.inline {
  text-align: center;
}
/*bai 62*/
.blue {
  color: blue;
  margin: 0px;
}
.image {
  background-color: yellow;
  width: 500px;
}
.widthfour {
  width: 100px;
}
.widthfive {
  width: 200px;
  padding-bottom: 40px;
}
.pepper {
  background-color: aqua;
}
.input {
 display: flex;
 align-items: center;
}