/* navigation */
.nav {
  margin: 0px;
  padding: 0px;
  display: flex;
  border-block-end-width: 5px;
  border-block-end-style: solid;
  border-block-end-color: darkgrey;
}
.logo {
  margin-left: 100px;
}
.menu ul {
  float: right;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.menu ul li {
  margin-top: 10px;
  list-style: none;
}
.menu ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 16px;
}
.home {
  margin-left: 100px;
  width: 80px;
}
.aboutus {
  width: 100px;
}
.outwork {
  width: 107px;
}
.clients {
  width: 90px;
}
.ourblog {
  width: 114px;
}
.contact {
  width: 73px;
}
.dark-mode {
  margin-left: 200px;
  margin-top: 10px;
}
/*section digital*/
.section {
  background-color: rgb(247, 229, 223);
  width: 100%;
  height: 600px;
  display: flex;
}
.digital {
  margin-left: 100px;
  display: inline-block;
  margin-top: 134px;
}
.text-color {
  color: orangered;
}
.digital-h1 {
  font-size: 40px;
  margin-top: 46px;
}
.digital-p {
  color: grey;
  margin-top: -11px;
}
.button {
  margin-top: 25px;
  width: 115px;
  background-color: orangered;
  color: white;
  border: 2px solid orangered;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px lightsalmon inset;
}
.banner {
  margin-top: 129px;
  max-width: 560px;
  margin-left: 63px;
}
.icon-banner {
  color: orangered;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  justify-content: center;
}
/*section ideas*/
.ideas {
  display: flex;
  background-color: white;
  width: 100%;
}
.banner2 {
  margin-top: 160px;
}
.making-ideas {
  margin-top: 60px;
}
.ideas-p {
  color: grey;
}
.ideas-h1 {
  font-size: 40px;
  margin-top: -5px;
}
.four-cells {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.box {
  border: 2px solid rgb(236, 233, 233);
  width: 250px;
  height: 200px;
}
.vector {
  position: absolute;
  top: 22px;
  left: 27px;
}
.circle {
  position: relative;
  border-radius: 50%;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 5em;
  width: 5em;
  margin-left: 67px;
  margin-top: 27px;
}
.circle1 {
  background: orangered;
  border: 0.1875em solid rgb(235, 146, 146);
}
.circle-p {
  color: grey;
  text-align: center;
}
.circle2 {
  background: grey;
  border: 0.1875em solid rgb(192, 184, 184);
}
.develop {
  position: absolute;
  top: 29px;
  left: 27px;
}
.circle3 {
  background: rgb(91, 91, 253);
  border: 0.1875em solid rgb(197, 197, 249);
}
.circle4 {
  background: rgb(23, 21, 21);
  border: 0.1875em solid rgb(52, 51, 51);
}
/*section project*/
.project {
  height: 800px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  background-color: rgb(247, 229, 223);
}
.project-sec {
  margin-left: 100px;
  margin-top: 118px;
}
.project-h1 {
  font-size: 40px;
}
.first {
  border: 2px solid rgb(236, 233, 233);
  width: 270px;
  height: 250px;
  background-color: azure;
  text-align: center;
}
.box1 {
  margin-left: 100px;
  margin-top: 95px;
}
.box2 {
  margin-left: 403px;
  margin-top: -227px;
}
.box3 {
  margin-left: 100px;
  margin-top: 3px;
}
.box4 {
  margin-left: 403px;
  margin-top: -228px;
}
/*section awesome*/
.awe {
  height: 700px;
}
.four-box {
  display: flex;
  justify-content: space-around;
}
.awesome {
  text-align: center;
}
.awesome-box {
  border: 2px solid rgb(236, 233, 233);
  width: 270px;
  height: 350px;
  position: relative;
}
.images {
  position: absolute;
}
.soicon {
  position: absolute;
  margin-left: -50px;
  margin-top: 20px;
}
.awesome-p {
  position: absolute;
  color: grey;
  margin-top: 65px;
  margin-left: 50px;
}
.UI {
  margin-left: 20px;
}
.graphic {
  margin-left: 44px;
}
.dev {
  margin-left: 25px;
}
/*section designed & development */
.all-sec {
  height: 1200px;
}
.some {
  position: relative;
  margin-top: -14px;
}
.all {
  color: orangered;
  position: absolute;
  margin-left: 365px;
}
.graphic-design {
  position: absolute;
  margin-left: 430px;
}
.uiux {
  position: absolute;
  margin-left: 600px;
}
.web {
  position: absolute;
  margin-left: 750px;
}
.six {
  position: relative;
}
.latest {
  position: absolute;
  margin-left: 54px;
  margin-top: 90px;
}
.timkiem {
  position: absolute;
  margin-left: 160px;
  margin-top: 200px;
}
.work {
  margin-top: 260px;
  margin-left: 114px;
  color: white;
}
.design-p {
  margin-top: 305px;
  margin-left: 130px;
  color: white;
}
.dark {
  position: absolute;
  margin-top: 90px;
  margin-left: 457px;
}
.product {
  position: absolute;
  margin-top: 90px;
  margin-left: 862px;
}
.music {
  position: absolute;
  margin-top: 510px;
  margin-left: 54px;
}
.better {
  position: absolute;
  margin-top: 610px;
  margin-left: 457px;
}
.chart {
  position: absolute;
  margin-top: 510px;
  margin-left: 862px;
}
/*section great-words*/
.great-words {
  background-color: rgb(247, 229, 223);
  margin-top: 100px;
  position: relative;
  height: 700px;
}
.clients-feedback {
  text-align: center;
  position: absolute;
  margin-top: 50px;
  margin-left: 375px;
}
.some-clients {
  border: 2px solid rgb(236, 233, 233);
  width: 380px;
  height: 230px;
  background-color: orangered;
  position: absolute;
}
.justin-margin {
  margin-top: 280px;
  margin-left: 150px;
}
.justin {
  position: absolute;
  margin-left: -36px;
  margin-top: 30px;
}
.client-h1 {
  position: absolute;
  color: white;
  margin-left: 70px;
  margin-top: 35px;
}
.client-p {
  position: absolute;
  color: white;
  margin-left: 70px;
  margin-top: 70px;
}
.client-p1 {
  position: absolute;
  color: white;
  margin-left: 70px;
  margin-top: 100px;
}
.ashlynn-margin {
  margin-top: 280px;
  margin-left: 705px;
}
.slider {
  position: absolute;
  margin-top: 600px;
  margin-left: 566px;
}
/*section-blogs*/
.blogs {
  margin-top: 100px;
}
.some-graphic {
  border: 2px solid rgb(236, 233, 233);
  width: 450px;
  height: 280px;
  background-color: white;
  position: relative;
}
.desi {
  margin-left: 170px;
  margin-top: 60px;
}
.managing {
  position: absolute;
  color: orangered;
  margin-left: 15px;
  margin-top: 37px;
}
.cris-haylie {
  position: absolute;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 83px;
}
.cristofer {
  position: absolute;
  font-size: 16px;
  margin-left: 108px;
  margin-top: 207px;
}
.time {
  position: absolute;
  color: grey;
  margin-top: 233px;
  margin-left: 105px;
  font-size: 13px;
}
.cris {
  position: absolute;
  margin-top: 187px;
  margin-left: 15px;
}
.keyboard {
  position: absolute;
  margin-left: 265px;
  margin-top: 15px;
}
.mana {
  margin-left: 664px;
  margin-top: -283px;
}
.sec-slider {
  position: absolute;
  margin-top: 90px;
  margin-left: 593px;
}
/*section contact*/
.contact-sec {
  margin-top: 260px;
  height: 900px;
  width: 100%;
}
.three-contact {
  display: flex;
  justify-content: space-around;
}
.some-contact {
  border: 2px solid rgb(236, 233, 233);
  width: 300px;
  height: 180px;
  background-color: white;
  position: relative;
}
.circle-contact {
  position: absolute;
  margin-left: 6px;
  margin-top: 10px;
}
.contact-vector {
  position: absolute;
  font-size: 30px;
  margin-left: 38px;
  margin-top: 43px;
}
.circle-evelope {
  position: absolute;
}
.fa {
  position: absolute;
  color: white;
  font-size: 30px;
  margin-left: 48px;
  margin-top: 40px;
}
.contact-p {
  position: absolute;
  color: orangered;
  margin-left: 111px;
  font-size: 19px;
  margin-top: 23px;
}
.contact-h {
  position: absolute;
  margin-left: 105px;
  margin-top: 63px;
}
.contact-pp {
  position: absolute;
  color: grey;
  margin-top: 120px;
  margin-left: 15px;
}
.contact-ppp {
  position: absolute;
  color: grey;
  margin-top: 145px;
  margin-left: 15px;
}
.contact-vector1 {
  position: absolute;
  font-size: 30px;
  margin-left: 46px;
  margin-top: 52px;
}
.message {
  display: flex;
}
.img-message {
  max-width: 700px;
  margin-top: 60px;
}
.message-h {
  position: absolute;
  width: 270px;
  margin-top: 66px;
}
.name {
  position: absolute;
  width: 200px;
  height: 30px;
  margin-top: 113px;
}
.email {
  position: absolute;
  width: 200px;
  margin-left: 225px;
  margin-top: 95px;
  height: 30px;
}
.mobi {
  position: absolute;
  width: 200px;
  height: 30px;
  margin-top: 151px;
}
.subject {
  position: absolute;
  width: 200px;
  margin-left: 225px;
  margin-top: 133px;
  height: 30px;
}
.send {
  position: absolute;
  width: 425px;
  padding-bottom: 140px;
  margin-top: 195px;
}
.button-massage {
  background-color: orangered;
  color: white;
  border: 2px solid orangered;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px lightsalmon inset;
  margin-top: 360px;
}
.map {
  margin-left: 35px;
}
.frame {
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}
/*footer*/
.footer {
}
.footer-a {
  background-color: rgb(52, 51, 51);
  height: 300px;
  display: flex;
  position: relative;
}
.footer-p {
  color: grey;
  font-size: 15px;
}
.digiency-h {
  position: absolute;
  margin-left: 100px;
  margin-top: 65px;
}
.white-color {
  color: white;
}
.digiency-p {
  position: absolute;
  margin-left: 100px;
  margin-top: 128px;
}
.facebook {
  position: absolute;
  margin-left: 97px;
  margin-top: 229px;
}
.instagram {
  position: absolute;
  margin-left: 150px;
  margin-top: 220px;
}
.twitter {
  position: absolute;
  margin-left: 217px;
  margin-top: 220px;
}
.sky {
  position: absolute;
  margin-left: 283px;
  margin-top: 220px;
}
.company {
  position: absolute;
  margin-left: 417px;
  margin-top: 42px;
}
.padding {
  padding-bottom: 15px;
}
.company-ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 30px;
}
.sevices {
  position: absolute;
  margin-left: 660px;
  margin-top: 42px;
}
.newsletter {
  position: absolute;
  margin-left: 870px;
  margin-top: 42px;
}
.newsletter-p {
  margin-top: 30px;
}
.info {
  background-color: rgb(52, 51, 51);
  border: 2px solid red;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 10px;
  margin-right: -5px;
  margin-top: 43px;
}
.rectangle {
  position: absolute;
  width: 67px;
  margin-top: 43px;
}
.send-letter {
  position: absolute;
  margin-left: 20px;
  margin-top: 55px;
}
.end {
  background-color: orangered;
  height: 50px;
  position: relative;
}
.text-c {
  position: absolute;
  margin-left: 100px;
  margin-top: 17px;
}
.copy {
  position: absolute;
  color: white;
  margin-left: 150px;
  margin-top: 17px;
}
.text-in {
  position: absolute;
  margin-left: 1068px;
  margin-top: 10px;
}
